footer {
    background-color: #1E2525;
    margin-top: 30px;
}

footer ul {
    padding: 20px;
}

footer li {
    padding: 5px;
    list-style: none;
    color: #F4EEE0;
    text-transform: capitalize;
}