
main .slider {
    width: 100%;
    height: 80vh;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main h1 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Cookie', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 3rem
}

.title {
    text-align: center;
}

/* intro */
main .intro .video {
    width: 50%;
    padding: 10px;
}

main .intro .intro-text {
    width: 50%;
    padding: 15px;
    font-weight: 300px
}

main .intro .video iframe {
    width: 100%;
    height: 350px;
}

/* main-content */
.main-content {
    padding-top: 30px;
}

.main-content-product {
    padding: 20px;
}

.main-content-product img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 10px;
    border-radius: 15px;
}

